<h2 class="text-4xl font-bold text-gray-800 mb-4">Explora el universo Pokémon</h2>
<p class="text-gray-600 mb-10">Accede a la Pokédex, descubre tipos y analiza habilidades desde una interfaz
    modular, rápida y moderna.</p>

<!-- CARDS SECTION -->
<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <a routerLink="/pokemones"
        class="block bg-white rounded-xl shadow hover:shadow-lg transition p-6 border border-gray-200">
        <h3 class="text-xl font-semibold text-blue-600 mb-2">Pokemones</h3>
        <p class="text-gray-600">Consulta todos los Pokémon disponibles y explora sus características.</p>
    </a>

    <a routerLink="/tipos"
        class="block bg-white rounded-xl shadow hover:shadow-lg transition p-6 border border-gray-200">
        <h3 class="text-xl font-semibold text-green-600 mb-2">Tipos</h3>
        <p class="text-gray-600">Conoce las fortalezas y debilidades según el tipo de cada Pokémon.</p>
    </a>

    <a routerLink="/habilidades"
        class="block bg-white rounded-xl shadow hover:shadow-lg transition p-6 border border-gray-200">
        <h3 class="text-xl font-semibold text-purple-600 mb-2">Habilidades</h3>
        <p class="text-gray-600">Explora habilidades especiales que influyen en combate.</p>
    </a>
</div>